@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 218 40% 10%;
    --card: 0 0% 100%;
    --card-foreground: 218 40% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 218 40% 10%;
    --primary: 218 100% 81%;
    --primary-foreground: 218 40% 20%;
    --secondary: 248 100% 85%;
    --secondary-foreground: 248 40% 20%;
    --muted: 218 20% 92%;
    --muted-foreground: 218 20% 40%;
    --accent: 248 100% 85%;
    --accent-foreground: 248 40% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 218 20% 90%;
    --input: 218 20% 90%;
    --ring: 218 100% 81%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 218 40% 5%;
    --foreground: 208 100% 97%;
    --card: 218 40% 10%;
    --card-foreground: 208 100% 97%;
    --popover: 218 40% 10%;
    --popover-foreground: 208 100% 97%;
    --primary: 218 100% 81%;
    --primary-foreground: 218 40% 10%;
    --secondary: 248 100% 85%;
    --secondary-foreground: 248 40% 10%;
    --muted: 218 20% 20%;
    --muted-foreground: 218 20% 70%;
    --accent: 248 100% 85%;
    --accent-foreground: 248 40% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 218 20% 20%;
    --input: 218 20% 20%;
    --ring: 218 100% 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}